<div id="footer" class="footer">
  <div class="footer__image">
    <a href="https://codestrand.com" class="invisibleLink"></a>
  </div>
  <div class="footer__icons">
  <ul class="contact__social fa-ul">
    <li>
      <a target="_blank" href="https://twitter.com/codestrand">
      <span class="fa-li"><i class="fab fa-fw fa-twitter-square"></i></span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://facebook.com/codestrand">
      <span class="fa-li"><i class="fab fa-fw fa-facebook-square"></i></span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://linked.com/company/codestrand">
      <span class="fa-li"><i class="fab fa-fw fa-linkedin"></i></span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://instagr.am/codestrand">
      <span class="fa-li"><i class="fab fa-fw fa-instagram"></i></span>
      </a>
    </li>
  </ul>
  </div>
</div>
