<div id="values" class="values__container">
  <h1>01</h1>
  <h2>Our values</h2>
  <div class="values__items">
  <div class="card">
    <div class="card__image"><img src="./../../assets/images/icons/laser-gun.svg"></div>
    <div class="card__text">
    <h4>Laser focus</h4>
    <p>Working on a single project at a time, no-one assigned to a project will be interrupted by context changes
      and balancing tasks.</p>
    </div>
  </div>
  <div class="card">
    <div class="card__image"><img src="./../../assets/images/icons/reliable.svg"></div>
    <div class="card__text">
    <h4>Reliable</h4>
    <p>Our technology stack is based on wide-spread, up-to-date Open Source projects, best practices and patterns. This
      ensures our work will be interoperable with most projects. It also makes bringing extra help or maintaining the
      projects inside your organisation easier and faster than custom, obscure or out-of-date frameworks and
      technologies.</p>
    </div>
  </div>
  <div class="card">
    <div class="card__image"><img src="./../../assets/images/icons/fair.svg"></div>
    <div class="card__text">
    <h4>Fair</h4>
    <p>We firmly believe in equality and we will fight for those who have not had a fair chance. We want to
      train, hire and promote the next generation of developers.</p>
    </div>
  </div>
  <div class="card">
    <div class="card__image"><img src="./../../assets/images/icons/space-cockpit.svg"></div>
    <div class="card__text">
    <h4>Contributing</h4>
    <p><strong>code</strong>strand was born out of collaborating on community events. Because of this we are committed to supporting our local community by sponsoring events and donating paid time.
      This way, our team members can participate by organising events, speaking at conferences and meetups, and engaging with the community.
    </p>
    <p>We share a percentage of our project earnings with Open Source projects that power our work.</p>
  </div>
  </div>
  </div>
</div>
