<div id="values" class="values">
  <h2>Mission</h2>
  <div class="card">
    <h3>Laser focus</h3>
    <p>Working on a single project at a time, no-one assigned to a project will be interrupted by context changes
      and balancing tasks.</p>
  </div>
  <div>
    <h3>Reliable</h3>
    <p>Our technology stack is based on wide-spread, up-to-date Open Source projects, best practices and patterns. This
      ensures our work will be interoperable with most projects. It also makes bringing extra help or maintaining the
      projects inside your organisation will be easier and faster than custom, obscure or out-of-date frameworks and
      technologies.</p>
  </div>
  <div class="card">
    <h3>Fair</h3>
    <p>We firmly believe in equality and we will fight for those who have not had a fair chance. We want to
      train, hire and promote the next generation of developers.</p>
  </div>
  <div class="card">
    <h3>Contributing</h3>
    <p><strong>code</strong>strand was born out of collaborating on community events. because of this we're committed
      to support our local community by sponsoring events and donating paid time so our team members can participate by
      organising events, speaking at conferences and meetups, and engaging with the community.</p>
    <p>We're determined to share a percentage of our project earnings with Open Source projects that power our work
      without which our work would just not be possible.</p>
  </div>
</div>
