<div id="about" class="about">
  <div class="about__container">
    <div class="about__item">
      <h2>Mission</h2>
      <p>We write applications from scratch, using the best the web platform has to offer and ensuring a great
        user experience. We provide our projects with highly efficient tracing and monitoring systems so you never have
        to fly blind.</p>
    </div>
    <div class="about__image">
      <img src="./../../assets/images/angular/angular.svg">
    </div>
  </div>
  <div class="about__breakpoint">
    <img src="./../../assets/images/brand/codestrand-standalone.svg">
  </div>
</div>
