<div id="about" class="about">
  <div class="about__container">
    <div class="about__item">
      <h2>About</h2>
      <p>We create applications from scratch, using the best the web has to offer and ensuring a great user experience.
        Our projects include highly efficient tracing and monitoring systems, so you never have to fly blind.</p>
    </div>
    <div class="about__image">
      <img src="./../../assets/images/icons/code.svg">
    </div>
  </div>
  <div class="about__breakpoint">
    <img src="./../../assets/images/brand/codestrand-standalone.svg">
  </div>
</div>
