@import "./../../assets/sass/variables"

.about
  display: flex
  flex-direction: column


  h2
    color: $dark-grey

  .about__container
    display: flex
    margin: auto
    .about__item
      order: 1
      flex-grow: 1
    .about__image
      order: 0
      flex-grow: 2
      img
        max-width: 100%
        width: 85%

.about__breakpoint
  display: flex
  justify-content: center
  margin: 10% auto 10% auto
  img
    width: 5%
    height: 6%

@media screen and (min-width: 720px)
  .about__container
    flex-direction: row
    width: 800px
    justify-content: space-around
    .about__item
        max-width: 50%
    .about__image
      max-width: 50%


@media screen and (max-width: 720px)
  .about__container
    flex-direction: column
