<div id="contact" class="contact">
  <div class="contact__container">
    <h2>Contact</h2>
    <p>You can reach out to us at info@codestrand.com</p>
    <p>Or reach out through social media:</p>
    <div class="contact__social_media">
      <a href="http://www.facebook.com/codestrand" target="_blank" class="contact__social_fb"><img src="./../../assets/images/icons/facebook.svg"></a>
      <a href="http://www.linkedin.com/company/codestrands" target="_blank" class="contact__social_lk"><img src="./../../assets/images/icons/linked.svg"></a>
      <a href="http://www.twitter.com/codestrand" target="_blank" class="contact__social_tt"><img src="./../../assets/images/icons/twitter.svg"></a>
      <a href="http://www.instagram.com/codestrand" target="_blank" class="contact__social_it"><img src="./../../assets/images/icons/instagram.svg"></a>
    </div>
  </div>
</div>
