@import "./../../assets/sass/variables"

.contact
  display: flex
  flex-direction: column
  .contact__container
    display: flex
    margin-left: auto
    margin-right: auto
    flex-direction: column
    .contact__social_media
      display: flex
      justify-content: space-between
      align-items: center
      .contact__social_fb
        &:hover
          background: url("./../../assets/images/icons/facebook-hover.svg") no-repeat
          vertical-align: center
          text-align: center
      .contact__social_lk
        &:hover
          background: url("./../../assets/images/icons/linked-hover.svg") no-repeat
      .contact__social_tt
        &:hover
          background: url("./../../assets/images/icons/twitter-hover.svg") no-repeat
      .contact__social_it
        &:hover
          background: url("./../../assets/images/icons/instagram-hover.svg") no-repeat

@media screen and (min-width: $width-sm)
  .contact
    margin: 8% 0 8% 0
  .contact__container
    width: 800px
    .contact__social_media
      width: 50%


@media screen and (max-width: $width-sm)
  .contact
    margin: 0 10% 10% 10%
  .contact__container
    text-align: left
    display: flex
    h2
      margin-left: -22px
    .contact__social_media
      justify-content: space-between
      width: 30%
      img
        width: 100%
        padding: 0 10%

