<div id="contact" class="contact">
  <div class="contact__container">

    <div class="contact__image">
      <img src="./../../assets/images/brand/white-text.svg">
    </div>

    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i class="fas fa-map-marker"></i></span>
        <span>Galicia, Spain</span>
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-link"></i></span>
        <a href="https://codestrand.com">codestrand.com</a>
      </li>
    </ul>

    <ul class="contact__social fa-ul">
      <li>
        <span class="fa-li"><i class="fab fa-fw fa-twitter-square"></i></span>
        <a target="_blank" href="https://twitter.com/codestrand">Twitter</a>
      </li>
      <li>
        <span class="fa-li"><i class="fab fa-fw fa-facebook-square"></i></span>
        <a target="_blank" href="https://fb.com/codestrand">Facebook</a>
      </li>
      <li>
        <span class="fa-li"><i class="fab fa-fw fa-linkedin"></i></span>
        <a target="_blank" href="https://linked.com/company/codestrand">LinkedIn</a>
      </li>
      <li>
        <span class="fa-li"><i class="fab fa-fw fa-instagram"></i></span>
        <a target="_blank" href="https://instagr.am/codestrand">Instagram</a>
      </li>
    </ul>
  </div>
</div>
