<div id="team" class="team">
  <div class="team__container">
    <div class="team__text">
    <h1>03</h1>
    <h2>Team</h2>
    <p>Our team can integrate with your existing infrastructure components, or write everything for you, from the API to the web clients.
    </p>
    <div class="team__image_container">
      <div class="team__person_image">
        <img src="./../../assets/images/team/orestes.jpg">
      </div>
      <div class="team__person_image_text">
        <h3>Orestes Carracedo</h3>
        <p><strong>Co-founder</strong><br/>Full-stack developer</p>
      </div>
    </div>
      <div class="team__image_container">
      <div class="team__person_image">
        <img src="./../../assets/images/team/ana.jpg">
    </div>
      <div class="team__person_image_text">
        <h3>Ana Cidre</h3>
        <p><strong>Co-founder</strong><br/>Front-end developer</p>
      </div>
    </div>
    </div>
    <div class="team__image">
      <img src="./../../assets/images/icons/team.svg">
    </div>
  </div>
</div>
