// Font
$header-font: 'Montserrat', Helvetica, sans-serif
$paragraph-font: 'Playfair Display', serif

$h1-size: 5em
$h2-size: 3em
$h3-size: 2em
$h4-size: 1em
$paragraph-size: 1em

//Colors
$dark-grey: #4A4A4A
$dark-blue: #39455A
$turquoise: #408385
$green: #A5C1A3
$lime: #C5E2A1

$footer-bg-color: #39455a
$footer-text-color: #fff

// Sizes
$width-sm: 720px
$width-md: 960px
$width-lg: 1200px
